.fw-bold{
    visibility: visible!important;
    color: darkgoldenrod!important;
}
.text-muted{
    visibility: hidden;
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
    display: inline-block;
    font-family: bootstrap-icons!important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    visibility: hidden!important;
}
.bi::after, [class*=" bi-"]::after, [class^=bi-]::after {
    display: inline-block;
    font-family: bootstrap-icons!important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    visibility: visible!important;
    
}
.row {
    /* --bs-gutter-x: 1.5rem; */
    /* --bs-gutter-y: 0; */
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
}



.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.carousel.pointer-event{
     touch-action: pan-y;
     background-size: cover;
}
.carousel-inner{
    max-height: auto;
}

.navbar{
    background: rgb(0,84,214);
    background: linear-gradient(90deg, rgba(0,84,214,1) 40%, rgba(221,51,51,1) 60%);
}

.header{
    background: #dd3333;
}

.btn-primary , .bg-primary{
    background-color:  rgba(221,51,51,1)!important ;
    border-color: #00bcd4!important;
}

.btn-secondary , .bg-secondary{
    background-color: #0054d6!important ;
    border-color: #00bcd4!important;
}

.btn-third , .bg-third{
    background-color:#e8ed10f5!important;
    border-color: #00bcd4!important;
}

#card1   {
    background-image: url("../assets/images/sub3.png")!important;
    background-size: cover!important;
    color:transparent!important;
    background-color: transparent!important;
}

#card1:hover   {
    background-image: none!important;
    background-size: cover!important;
    color:black!important;
    background-color: white!important;
    visibility: visible;
}

#card2   {
    background-image: url("../assets/images/sub1.png")!important;
    background-size: cover!important;
    color:transparent!important;
    background-color: transparent!important;
}

#card2:hover   {
    background-image: none!important;
    background-size: cover!important;
    color:black!important;
    background-color: white!important;
    visibility: visible;
}

#card3   {
    background-image: url("../assets/images/sub2.png")!important;
    background-size: cover!important;
    color:transparent!important;
    background-color: transparent!important;
}

#card3:hover   {
    background-image: none!important;
    background-size: cover!important;
    color:black!important;
    background-color: white!important;
    visibility: visible;
}
